<div class="container">

  <h1 class="">Choose The Card</h1>

  <div class="buttons">
    <button class="button" (click)="setCardIndex(0)">HTML</button>
    <button class="button" (click)="setCardIndex(1)">CSS</button>
    <button class="button" (click)="setCardIndex(2)">LESS</button>
    <button class="button" (click)="setCardIndex(3)">SASS</button>
    <button class="button" (click)="setCardIndex(4)">Bootstrap</button>
    <button class="button" (click)="setCardIndex(5)">JavaScript</button>
    <button class="button" (click)="setCardIndex(6)">TypeScript</button>
    <button class="button" (click)="setCardIndex(7)">jQuery</button>
    <button class="button" (click)="setCardIndex(8)">React</button>
    <button class="button" (click)="setCardIndex(9)">Angular</button>
    <button class="button" (click)="setCardIndex(10)">VueJS</button>
    <button class="button" (click)="setCardIndex(11)">All</button>
  </div>
</div>
